

  <div class="row">
    <div class="col-xs-6">
      <% @exercises.each do |exercise| %>
        <ul>
          <li><%= link_to("#{exercise.name}", user_exercise_path(current_user, exercise) )%></li>
        </ul> 
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= render "weights/new_weight"%>
      <div id="chart-container">
        <%= @weights_chart.render() %>
      </div>
    </div>
  </div>

