<div class="row">
  <div class="image">
    <%= image_tag('/pyros.jpg', width: '100%') %>
    <span class="intro">Track your stats <br /> and find out what they really mean</span>
  </div>
</div>
<div class="row">
	<div class="about">
	<%= link_to("Sign up here", new_user_registration_path, class:"btn btn-success btn-lg") %>
  <ul id="about-list">
  	<li>Keep track of your personal performance</li>
  	<li>Graph your lifts </li>
  	<li>Compare different programs </li>
  </ul>
  
</div>
</div>