<h1> Weights </h1>
<%= content_tag :div, "", id: "weights_chart", data: {weights: @user_weights} %>


<script>
Morris.Line({
  element: 'weights_chart',
  data:  $('#weights_chart').data('weights'),
  xkey: 'created_at',
  ykeys: ['weight'],
  xLabels: ["day"],
  labels: ['Weight'],
  xLabelFormat: function(x){
    return x.toString().split('-').reverse().join('-')
  }
});
</script>


<table id="weights">
  <tr>
  	<th>Number</th>
  	<th>Weight</th>
  	<th>Date </th>
  </tr>
  <% @user_weights.each do |weight| %>
  <tr>
  	<td><%= weight.id %></td>
  	<td><%= weight.weight %></td>
  	<td><%= weight.created_at.strftime("%b %d, %Y") %></td>
  </tr>

  <% end %>

</table>







