<p id="notice"><%= notice %></p>

<div>
  <strong>Stats for:</strong>
  <%= @exercise.name %>
  
</div>

<div id="chart-container"></div>
  <%= @exercise_chart.render() %>


<%= link_to 'Back', user_exercises_path %>
